<!DOCTYPE html>
<html lang="en">
<head>
    {% block messenger_monitor_head %}
        <title>Messenger monitor dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
              integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/bundles/symfonycastsmessengermonitor/assets/css/spur.min.css">
    {% endblock %}
</head>
<body>
<div class="dash">
    <div class="dash-nav dash-nav-dark">
        <header>
            <a href="#"><span>Messenger Monitor</span></a>
        </header>
        <nav class="dash-nav-list">
            <a href="index.html" class="dash-nav-item">
                <i class="fas fa-home"></i> Dashboard </a>
        </nav>
    </div>
    <div class="dash-app">
        <header class="dash-toolbar">
            <a href="#!" class="menu-toggle">
                <i class="fas fa-bars"></i>
            </a>
            <div class="tools">
                <a href="https://github.com/SymfonyCasts/messenger-monitor-bundle/" target="_blank" class="tools-item">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </header>
        <main class="dash-content">
            <div class="container-fluid">
                {% block messenger_monitor_main %}{% endblock %}
            </div>
        </main>
    </div>
</div>
{% block messenger_monitor_scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="/bundles/symfonycastsmessengermonitor/assets/js/spur.js"></script>
{% endblock %}
</body>
</html>
