<div class="card spur-card">
    <div class="card-header ">
        <div class="spur-card-icon"><i class="fas fa-chart-bar"></i></div>
        <div class="spur-card-title">{% block card_title %}{% endblock %}</div>
    </div>
    <div class="card-body ">{% block card_body %}{% endblock %}</div>
</div>
