{% extends "@SymfonyCastsMessengerMonitor/template/base.html.twig" %}

{% block messenger_monitor_main %}
    {% for label, messages in app.flashes(['messenger_monitor.success', 'messenger_monitor.error']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label == 'messenger_monitor.success' ? 'success' : 'danger' }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-lg-6">
            {% include "@SymfonyCastsMessengerMonitor/blocks/_transports_list.html.twig" %}
        </div>
    </div>

    {% if cannotListFailedMessages != constant('SymfonyCasts\\MessengerMonitorBundle\\Controller\\DashboardController::NO_FAILURE_RECEIVER') %}
        <div class="row">
            <div class="col-lg-12">
                {% include "@SymfonyCastsMessengerMonitor/blocks/_failure_transport.html.twig" %}
            </div>
        </div>
    {% endif %}

    {% if statistics.metrics is not empty %}
        <h2>Statistics for last 24 hours</h2>

        <div class="row">
            <div class="col-lg-4">
                {% include "@SymfonyCastsMessengerMonitor/blocks/_statistics_overall.html.twig" %}
            </div>
            <div class="col-lg-8">
                {% include "@SymfonyCastsMessengerMonitor/blocks/_statistics_per_message.html.twig" %}
            </div>
        </div>
    {% else %}
        {% include "@SymfonyCastsMessengerMonitor/blocks/_statistics_empty.html.twig" %}
    {% endif %}
{% endblock %}
